<?php
// Zabbix GUI configuration file

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{ zabbix_db_host }}';
$DB['PORT']     = '5432';
$DB['DATABASE'] = '{{ zabbix_db_name }}';
$DB['USER']     = '{{ zabbix_db_user }}';
$DB['PASSWORD'] = '{{ zabbix_db_pass }}';

$ZBX_SERVER      = '{{ zabbix_server_host }}';
$ZBX_SERVER_PORT = '{{ zabbix_server_port }}';
$ZBX_SERVER_NAME = '{{ zabbix_server_name }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;