local   all             all                                     peer
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256
{% for net in allowed_networks %}
host    all             all             {{ net }}              scram-sha-256
host    replication     replicator      {{ net }}              scram-sha-256
{% endfor %}
