listen_addresses = '*'
port = 5432
ssl = on
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'
max_wal_size = 1GB
min_wal_size = 80MB
log_timezone = 'America/Sao_Paulo'
timezone = 'America/Sao_Paulo'
datestyle = 'iso, mdy'
default_text_search_config = 'pg_catalog.english'